.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header-menu >li a {
    color: white;
    font-weight: bold;
}

.header-menu >li:hover a{
    color: var(--orange);
    cursor: pointer;
}

.bars-container {
    padding: 0.5rem;
    background-color: var(--appColor);
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bars {
    width: 1.5rem;
    height: 1.5rem;
}


@media screen and (max-width: 768px) {
    .header > :nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 999;
    }

    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
        border-radius: 5px;
    }
}